* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
p {
  margin-block: 0 8px;
}

input,
button {
  font-family: inherit;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  svg {
    vertical-align: middle;
  }

  &:hover {
    background-color: #eee;
    border-color: #ccc;
  }

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
